/* line 6, ../sass/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

h2 {
    font-size: 30px;
    padding-left: 20px;
    text-align: center;    
}

h3{
  font-size: 20px;
  text-align: center;
}

.img-circle {
    border-radius: 50%;
}

.resize-small {
    width: 60px;
    height: auto;
}

.resize-medium {
    width: 100px;
    height: auto;
}

.extra_logo {

  text-align: center;
}

.code_project{
  text-align: center;
}

img.code_project{
  display: block;
    
    margin-left: auto;
    margin-right: auto;
}

img.extra_logo {

  display: block;
    
    margin-left: auto;
    margin-right: auto;
}

/* line 23, ../sass/style.scss */
body {
  line-height: 1;
}

/* line 24, ../sass/style.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/style.scss */
blockquote, q {
  quotes: none;
}

/* line 26, ../sass/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
/* line 29, ../sass/style.scss */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
/* line 31, ../sass/style.scss */
ins {
  text-decoration: none;
}

/* line 32, ../sass/style.scss */
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 34, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*- -*/
/*- GENERIC BODY STYLES -*/
/* line 37, ../sass/style.scss */
body {
  font: 12px/18px Arial, Helvetica, sans-serif;
  color: #333;
  background: #fff;
}

/* line 42, ../sass/style.scss */
p {
  margin-bottom: 18px;
}

/* line 43, ../sass/style.scss */
a {
  text-decoration: underline;
}

/* line 44, ../sass/style.scss */
a:hover {
  text-decoration: none;
}

/* line 45, ../sass/style.scss */
#container {
  width: 802px;
  margin: 0 auto;
}

#head1 .name{
  text-align: center;
}

/* line 47, ../sass/style.scss */
#head1 {
  background-color: #F1F5F8;
  width: 100%;
  margin-bottom: 40px;
  height: 10%;
  position: fixed;
}
/* line 53, ../sass/style.scss */
#head1 .portfolio {
  float: right;
}

/* line 58, ../sass/style.scss */
#map {
  height: 300px;
  width: 70%;
  margin-left: 20%;
  margin-top: 0px;
  margin-bottom: 20px;
}

/* line 66, ../sass/style.scss */
.item {
  text-align: center;
}

/* line 70, ../sass/style.scss */
#sidebar-wrapper {
  top: 200px;
  left: -200px;
  width: 200px;
  background-color: #374567;
  color: white;
  position: fixed;
  height: 100%;
  z-index: 1;
}

#coding-section{

  background-image: url(../images/code.png)

}

#writing-section{


}

.fixed-bg {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* line 80, ../sass/style.scss */
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 200px;
  list-style: none;
}

/* line 88, ../sass/style.scss */
.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
}

/* line 92, ../sass/style.scss */
.sidebar-nav li a {
  color: white;
  display: block;
  text-decoration: none;
}

/* line 97, ../sass/style.scss */
.sidebar-nav li a:hover {
  background: rgba(255, 255, 255, 0.25);
  color: white;
  text-decoration: none;
}

/* line 102, ../sass/style.scss */
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

/* line 105, ../sass/style.scss */
#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}

@media (min-width: 768px) {
  /* line 110, ../sass/style.scss */
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
}

/*
* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-weight: 300;
    color: inherit;
}

h1 {
    font-size: 40px;    
}
h2 {
    font-size: 30px;    
}
h3 {
    font-size: 25px;
}

p {
    color: #444444;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 40px; /* change with screen size */
    

    /*color: white;
    margin: 0 auto;
}

.logo_h {
    float: left;
    padding-top: 15px;
    padding-left: 20px;
    height: 40px;
}

#nav {
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-bottom: 9px;
    height: 60px;
    z-index: 99;
}

.navlink {
    display: inline-block;
    margin: 10px 10px;
    margin-top: 0;
    padding: 0 0px;
    font-size: 25px;
    text-decoration: none;
}

#navwrapper {
    display: inline-block;
    background-repeat: repeat-x;
}

.submitButton {
    font-size: 25px;
    padding: 8px;
}

.submitButton:hover {
    background-color: rgba(0,0,0,0.5);
}

.navlink:hover {
    border-bottom: 2px solid white;
    margin-bottom: -2px;
}

.section {
    padding: 40px 0px;
    height: 480px;
    max-height: 1000px;
    width: 100%;
    display: table;
}

.short {
    height: 150px;
}

.shorter {
    height: 200px;
}

.band {
    height: 30px;    
    width: 100%;
}

.logo {
    width: 40%;
    max-width: 500px;
    min-width: 300px;
}


.mid {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}

.rect {
    width: 70%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px #000;
    margin: 0 auto;
}

.block {
    display: inline-block;
}

/*
.block.w15.btn_img {
    display: none;
} */
/*
.block img {
    width: 250px;
    margin-top: 30px;
}

.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

.w25 {
    width: 25%;
}

.w33 {
    width: 33%;
}

.w50 {
    width: 50%;
}

.block h2 {

}

.block img {
    width: 90%;
}

.block img:hover {
    -webkit-animation-name: tada;
    animation-name: tada;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.btn_img img {
    width: 90%;
    max-width: 120px;
}

.btn_img img:hover {
    width: 92%;
    max-width: 125px;
    margin-top: -5px;
    margin-bottom: -2.5px;
}

.copy {
    text-align: center;
    font-size: 13px;
}

.contact-us {
    text-align: center;
    font-size: 36px;
}

.laptop-img {
    background: url(../img/laptop.jpg);
    background-size: cover;
}

.meeting-img {
    background: url(../img/meeting.jpg) #ef5b2e;
    background-size: cover;
    background-position: right bottom;
}

.build-img {
    background: url(../img/build_break_repeat.jpg) #ef5b2e;
    background-size: cover;
}

.hack-img {
    background: url(../img/hack.jpg) #ef5b2e;
    background-size: cover;
}

.mhacks-img {
    background-image: url(../img/mhacks.jpg);
    background-color: #ef5b2e;
    background-size: cover;
}

.grey {
    background: #F2F2F2;
    color: #222;
}

.orange {
    background: #ef5b2e;
}

#calendarwrapper{
    margin: 40px auto;
    width: 90%;
    color: #444444;
    font-size: 20px;
}

#calendar{
    margin: 0 auto;
    width: 90%;
}

.fc-day-number  {
    font-size: 30px;
}

div.fc-content {
    white-space: normal;
}

.fc-content {
    overflow: visible;
    white-space: normal;
}

.fc-button {
    background: white;
    outline: none;
}

.halfwidth {
    color: #444444;
    width: 45%;
    overflow-x: hidden;
    float: left;
    margin-left: 3.33%;
    margin-bottom: 6vh;
}

.projimg {
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 790px) {
    .navlink {
        font-size: 18px;
        padding: 0;
        max-height: 61px;
    }
    .halfwidth {
        width: 93.34%;
        margin-right: 3.33%;
    }
}

@media screen and (max-width: 675px) {
    #navwrapper {
        width: 100%;
    }
    .laptop-img {
        margin-top: 36px;
    }
    #calendarwrapper {
        margin-top: 76px;
    }
}

